{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
  <h1>Вход в аккаунт.</h1>
  {% if form.errors %}
    <p>
      Ваши логин и пароль не совпали.
      Попробуйте еще раз.
    </p>
  {% else %}
    <p>Пожалуйста, используйте данную форму для входа в аккаунт.
      Если у вас нет аккаунта, то
      <a href="{% url "register" %}">зарегестрируйтесь</a>.
    </p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      <p><input type="submit" value="Войти"></p>
    </form>
    <p>
      <a href="{% url "password_reset" %}">
      Забыли пароль?
      </a>
    </p>
  </div>
  <div class="social">
    <ul>
      <li class="google">
        <a href="{% url "social:begin" "google-oauth2" %}">
          Sign in with Google
        </a>
      </li>
    </ul>
  </div>
{% endblock %}